VITE_SITE_NAME=Movie Booking

VITE_API_BASE_URL=https://movienew.cybersoft.edu.vn/api/
VITE_TOKEN_CYBERSOFT=YOUR_TOKEN_CYBERSOFT_HERE
VITE_MA_NHOM=YOUR_MA_NHOM_HERE

VITE_ACCESS_TOKEN_TTL_MS=3600000 # 1 hour = 3600000 ms
